force-app/main/default/flows/Schedule_Marketing_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails_Action_1</name>
        <label>Send Emails Action 1</label>
        <locationX>556</locationX>
        <locationY>2400</locationY>
        <actionName>EmailCampaignController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccContacts</name>
            <value>
                <elementReference>BccContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TemplatewBodyValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CcContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listingId</name>
            <value>
                <elementReference>$Record.Listing__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedObjectName</name>
            <value>
                <elementReference>ObjectApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDataId</name>
            <value>
                <elementReference>TemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateType</name>
            <value>
                <elementReference>$Record.Template_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>PrimaryContactEmails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailCampaignController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bcc_Contacts</name>
        <label>Assign Bcc Contacts</label>
        <locationX>556</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>BccContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.BCC_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Template_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Body_Value</name>
        <label>Assign Body Value</label>
        <locationX>182</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>TemplatewBodyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Standard_Email_Template_Record.HtmlValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Emails_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Contacts_to_Variable</name>
        <label>Assign CC Contacts to Variable</label>
        <locationX>292</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>CcContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.CC_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Template_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_API_Name</name>
        <label>Assign Object API Name</label>
        <locationX>930</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>ObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Template_Records.Object_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Template_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_Id</name>
        <label>Assign Template Id</label>
        <locationX>182</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>TemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Standard_Email_Template_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Standard_Email_Template_Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Body_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_Id2</name>
        <label>Assign Template Id and Subject</label>
        <locationX>930</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>TemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Template_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Template_Records.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Body_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_body_value</name>
        <label>Assigning body value</label>
        <locationX>1018</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>TemplatewBodyValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Body_Data.Template_Value_Simple__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Body_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_all_primary_contact_s_email</name>
        <label>Collect all primary contact&apos;s email</label>
        <locationX>644</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_campaign_member_to_get_records.RecipientId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_campaign_member_to_get_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Object_API_Name</name>
        <label>Assign Object API Name</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>ObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NullValue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Object_API_Name</name>
        <label>Copy 2 of Assign Object API Name</label>
        <locationX>314</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>ObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Standard_Email_Template_Record.RelatedEntityType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Template_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_CC_and_BCC_Contacts</name>
        <label>Check For CC and BCC Contacts</label>
        <locationX>556</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Check_Template_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_CC_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVEX__Marketing_Campaign__r.MVEX__CC_Contacts__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CC_Contacts_to_Variable</targetReference>
            </connector>
            <label>Check For CC Contact</label>
        </rules>
        <rules>
            <name>Check_For_Bcc_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVEX__Marketing_Campaign__r.MVEX__BCC_Contacts__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bcc_Contacts</targetReference>
            </connector>
            <label>Check For Bcc Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_null_value</name>
        <label>Check for null value</label>
        <locationX>1150</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>All_Body_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Body_Data.Template_Value_Simple__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_body_value</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Null_for_object_API</name>
        <label>Check Null For Object API</label>
        <locationX>182</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Object_API_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Standard_Email_Template_Record.RelatedEntityType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Object_API_Name</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Template_Type</name>
        <label>Check Template Type</label>
        <locationX>556</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Get_All_Template_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Email_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVEX__Template_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmailTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Standard_Email_Template_Record</targetReference>
            </connector>
            <label>Standard Email Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_For_Primary_Contacts</name>
        <label>Condition For Primary Contacts</label>
        <locationX>776</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_the_campaign_member_to_get_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_contact_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_campaign_member_to_get_records.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_all_primary_contact_s_email</targetReference>
            </connector>
            <label>Primary contact Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Date_is_null_or_not</name>
        <label>Selected Date is null or not</label>
        <locationX>1139</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Selected_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVEX__Send_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Member_Records</targetReference>
            </connector>
            <label>Check for Selected Date</label>
        </rules>
    </decisions>
    <description>added listing id and object name</description>
    <environments>Default</environments>
    <interviewLabel>Schedule Marketing Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Marketing Emails</label>
    <loops>
        <name>All_Body_Data</name>
        <label>All Body Data</label>
        <locationX>930</locationX>
        <locationY>1824</locationY>
        <collectionReference>Get_Template_Data_for_Body</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_null_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Emails_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_the_campaign_member_to_get_records</name>
        <label>Loop through all the campaign member to get records</label>
        <locationX>556</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Campaign_Member_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition_For_Primary_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_CC_and_BCC_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Records</name>
        <label>Create Error Records</label>
        <locationX>1194</locationX>
        <locationY>1500</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Template Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error From Schedule Marketing Email Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_2</name>
        <label>Create Error Records</label>
        <locationX>1458</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Campaign Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error From Schedule Marketing Email Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Standard_Email_Template_Record</name>
        <label>Get All Standard Email Template Record</label>
        <locationX>182</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null_for_object_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Template_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Template_Records</name>
        <label>Get All Template Records</label>
        <locationX>930</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Template_Data_for_Body</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Template_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member_Records</name>
        <label>Get Campaign Member Records</label>
        <locationX>556</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_the_campaign_member_to_get_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Marketing_Campaign_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Data_for_Body</name>
        <label>Get Template Data for Body</label>
        <locationX>930</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Object_API_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_All_Template_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Body Value</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>336</locationX>
        <locationY>0</locationY>
        <filterFormula>ISPICKVAL({!$Record.Marketing_Campaign__r.Schedule_Type__c}, &quot;Specific Date&quot;)</filterFormula>
        <object>Marketing_Email__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Emails</name>
            <connector>
                <targetReference>Selected_Date_is_null_or_not</targetReference>
            </connector>
            <label>Schedule Emails</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Send_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BccContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CcContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarketingCampaignMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Campaign_Member__c</objectType>
    </variables>
    <variables>
        <name>ObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplatewBodyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
